
# Dependencies
node_modules/
vendor/

# Local
.vscode/

# OS specific files
.DS_Store
._*
.directory

# Generated content
reports/
translations/
views/css/
views/js/
config*.xml
index.php
module-configuration.yml
*.zip
