
# composer
vendor/

# node
node_modules/
.pnpm-store/

# Tests report
.cache/
reports/

# OS specific files
.DS_Store
._*
.directory

# Generated content
/translations/
views/css/
views/js/
config*.xml
index.php
*.zip
