parameters:
	ignoreErrors:
		-
			rawMessage: Dead catch - Stancer\Exceptions\NotFoundException is never thrown in the try block.
			identifier: catch.neverThrown
			count: 1
			path: classes/StancerApiCustomer.php

		-
			rawMessage: Access to property $language_code on an unknown class InstallLanguage.
			identifier: class.notFound
			count: 1
			path: controllers/front/payment.php

		-
			rawMessage: Access to property $language_code on an unknown class InstallLanguage.
			identifier: class.notFound
			count: 1
			path: controllers/front/validation.php

		-
			rawMessage: Access to property $id on an unknown class InstallLanguage.
			identifier: class.notFound
			count: 2
			path: stancer.php
