parameters:
# Those error exists locally but not on the prestashop validator
# As such we ignore them in our config file and not in our php files.
	ignoreErrors:
		-
			message: '#^Access to property \$language_code on an unknown class InstallLanguage\.$#'
			identifier: class.notFound
			count: 1
			path: controllers/front/payment.php

		-
			message: '#^Access to property \$language_code on an unknown class InstallLanguage\.$#'
			identifier: class.notFound
			count: 1
			path: controllers/front/validation.php

		-
			message: '#^Access to property \$id on an unknown class InstallLanguage\.$#'
			identifier: class.notFound
			count: 1
			path: stancer.php
