{
  http_port 10011
  https_port 10010
  admin 0.0.0.0:2019
}

mailtrap.localtest.stancer.network {
  reverse_proxy http://mailtrap
  tls internal
}

prestashop.localtest.stancer.network {
  root * /var/www/html
  php_fastcgi prestashop:9000

  file_server
  encode gzip
  tls internal
}
