// For PrestaShop 1.6

@import './global';

.stancer-payment {
  // based on default PrestaShop style ".payment_module a"
  $color-light-grey: #fbfbfb;
  $color-grey: #777;

  & & {
    &__iframe {
      margin-top: 10px;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $color-light-grey;
      background-image: url('../img/bankwire.png');
      background-position: 15px center;
      background-repeat: no-repeat;
      background-size: 64px;
      padding-right: 10px;

      &::after {
        transition-duration: 200ms;
        transition-property: transform;
        transition-timing-function: linear;
        color: $color-grey;
        font-family: FontAwesome, sans-serif;
        font-size: 25px;
        content: '\f054';
      }

      &:focus {
        text-decoration: none;
      }

      &--open {
        &::after {
          transform: rotate(90deg) translateY(.2em);
        }
      }

      @each $brand in ('amex', 'mastercard', 'visa') {
        &--#{$brand} {
          background-image: url('../img/brand.svg##{$brand}');
        }
      }
    }
  }
}
